@font-face {
    src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
    font-family: 'JosefinSans-VariableFont';
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    src: url(../fonts/Josefin_Sans/JosefinSans-Medium.ttf);
    font-family: 'JosefinSans-Medium';
    font-style: normal;
  }
  
  @font-face {
    src: url(../fonts/Josefin_Sans/JosefinSans-Regular.ttf);
    font-family: 'josefin sans';
    font-style: normal;
  }