/**
 * @author Hunar Karim
 * @email [hunar.karim@tib.eu]
 * @create date 2020-11-10
 * @modify date 2022-02-10
 * @desc [description]
 */

a:link {
  text-decoration: none;
  color: #54B6B5;
}

a:visited {
  text-decoration: none;
  color: #54B6B5;
}

a:hover {
  text-decoration: none;
  color: #F25B68; 
}

a:active {
  text-decoration: none;
  color: #F25B68;
}


.tooltip1 {
	background-color:  #98D3D3; 
  opacity: 1;
  border: 1px solid #54B6B5;
  position: absolute;
  border-radius: 8px;
  width: 400px;
  color: #061631;
  padding: 12px;
  margin-left: -80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
	z-index: 1;
	bottom: 100%;
  font-family: work sans;
  box-shadow: 10px 15px 20px rgb(10, 31, 64, 0.3), 5px 5px 10px rgb(10, 31, 64, 0.2);
  
}
.tooltip2 {
	background-color:  grey; 
  opacity: 1;
  border: 1px solid #54B6B5;
  position: absolute;
  border-radius: 8px;
  width: 400px;
  color: #061631;
  padding: 12px;
  margin-left: -80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
	z-index: 1;
	bottom: 100%;
  font-family: work sans;
  box-shadow: 10px 15px 20px rgb(10, 31, 64, 0.3), 5px 5px 10px rgb(10, 31, 64, 0.2);
  
}

.atention {
	background-color: #061631; 
  box-shadow: 5px 30px 30px -10px #3f4a4d;
  border: 3px solid #777777;
  position: absolute;
  left: 100px;
  border-radius: 8px;
  width: 500px;
  color: #f0ad4e;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
	z-index: 1;
	bottom: 100%;
  font-family: work sans;
	margin-left: -60px;
}

.button {
  background-color: #0A1F40; 
  box-shadow: 21px 14px 38px -9px #3f4a4d;
  border: none;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 4%;
  margin-right: 4%;
  border-radius: 15px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: work sans;
  cursor: pointer;
  box-shadow: 5px 10px 15px rgb(10, 31, 64, 0.3), 3px 3px 5px rgb(10, 31, 64, 0.5);
}

.button:hover {
  background-color: #54B6B5; 
  color: #061631;
}

.button3 {
  background-color: #0A1F40; 
  box-shadow: 21px 14px 38px -9px #3f4a4d;
  width: 74%;
  border: none;
  margin-left: 14%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: work sans;
  cursor: pointer;
  box-shadow: 5px 10px 15px rgb(10, 31, 64, 0.3), 3px 3px 5px rgb(10, 31, 64, 0.5);
}

.button3:hover {
  background-color: #54B6B5; 
  color: #061631;
}


.lable {
  background-color: #0A1F40; 
  border-radius: 30px;
  width: 800px;
  margin: 0 20px;
  color: white;
  padding: 10px;
  border: 15px solid #FFFFFF;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: work sans;
}

.labletext {
  background-color: #f4f6f7 ; 
  cursor: default !important;
  border-radius: 4px;
  width: 150%;
  color: black;
  padding: 25.4%; 
  margin-top: -4%;
  padding-top: 5%;
  padding-bottom: 5%;
  line-height: 1.6; 
  border: 20px solid #f4f6f7;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-family: work sans;
  font-size: 16px;
}

.imagelable {
  background-color: transparent; 
  border: none;
  border-radius: 10px;
}

.textfild {
  background-color: #ECEEF4;
  padding: 17px; 
  border: 15px solid #FFFFFF;
  border-radius: 30px;
  width: 74%;
  margin-left: 14%;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  font-family: work sans;
  cursor: pointer;
}


.statictext {
  margin: 19%;
  margin-top: 0%;
  margin-bottom: 5%;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 500;
  font-family: Work Sans;
  /*cursor: pointer;*/
}

.statictext_2 {
  background: linear-gradient(45deg, #DDF0F0, #EDF6E9);
  font-family: Josefin Sans;
  padding: 2%; 
  margin: -3%; 
  margin-left: -25px;
  font-size: 26px; 
  text-align: center; 
  color:#0A1F40; 
		width: 105%;
}


.span {
  background: linear-gradient(45deg, #FCDEE1, #FDE8D8);
  cursor: default !important;
  border-radius: 4px;
  margin-top: 15px;
  width: 150%;
  color: #0A1F40;
  padding: 13px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-family: josefin sans;
  font-weight: bold;
  
}

.span1 {
  margin-top: 3%;
  margin-bottom: 4%;
  margin-left: 2%;
  margin-right: 25%;
  font-family: work sans;
  line-height: 1.6;
}


.message {
  border: none;
  position: absolute;
  text-align: center;
  border-radius: 20px;
  padding: 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  font-family: work sans;
  cursor: pointer;
}

.message2 {
  cursor: default !important;
  background-color: #98D3D3 ;
  margin-bottom: 50px; 
  border: none;
  border-radius: 10px;
  width: 99%;
  padding: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-weight: 500;
  color: black;
  font-weight: 500;
  font-family: work sans;
  font-size: 20px;
}

.message2 a:link {
  text-decoration: none;
  color: #FFFFFF !important;
}

.message2 a:visited {
  text-decoration: none;
  color: #FFFFFF !important;
}

.message2  a:hover {
  text-decoration: none;
  color: #F25B68 !important; 
}

.message2  a:active {
  text-decoration: none;
  color: #F25B68 !important;
}